<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>친구 검색</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> 

    <style>
        .color-db {
            background-color: #0C356A !important;
        }
        .color-lb {
            background-color: #0174be !important;
        }
        .color-dy {
            background-color: #ffc436 !important;
        }
        .color-ly {
            background-color: #fff0ce !important;
        }
        .profile-image {
            width: 40px; height: 40px; border-radius: 50%;
        }
        .width-180 {
            width: 18%;
        }
        .width-360 {
            width: 60%;
        }
        .header {
            color: #FFC436;
            font-size: 24px;
            margin-top: 20px;
        }     
    </style>
</head>
<body class="color-db text-center">
    <h2 class="header">친구 검색</h2>
    <div class="card my-3 py-3 mx-auto" style="max-width: 500px;">
        <div class="color-ly">
            <ul class="list-group">
                <li class="d-flex justify-content-between p-3 align-items-center">
                    <div class="width-180 color-ly">친구 검색</div>
                    <div class="width-360 color-ly">
                        <input type="text" id="name" class="form-control" placeholder="찾을 친구의 이름을 입력하세요">
                    </div>
                    <div class="color-ly">
                        <a class="btn btn-primary color-lb" role="button" id="search">검색</a>
                    </div>
                </li>
            </ul>
            <ul id="friendsList" class="list-group">
            </ul>
        </div>
        <div class="card-body">
            <a class="btn btn-primary color-lb w-50 mx-auto" role="button" href="friends">친구 목록/추가</a>
        </div>

    </div>
    <nav class="navbar fixed-bottom navbar-expand bg-primary">
        <div class="container-fluid justify-content-around">
            <a class="btn btn-warning active" role="button" href="/friends">친구 목록</a>
            <a class="btn btn-secondary" role="button" href="/rooms">채팅방</a>
            <button class="btn btn-secondary">기타</button>
            <a class="btn btn-secondary" th:href="'/users/' + ${user.id}">내 프로필</a>
        </div>
    </nav>
    <script>

        function searchFunction() {
            const name = document.getElementById('name').value;
            const friendsList = document.getElementById('friendsList');

            if (!name) {
                friendsList.innerHTML = '이름을 입력해 주세요.';
                return;
            }

            // Construct the URL with a query parameter
            const url = new URL(`/api/friends/find`, window.location.origin); // `window.location.origin` ensures you use your base url
            url.searchParams.append('name', name);

            fetch(url, {
                method: 'GET', // Now correct
            })
            .then(response => response.json())
            .then(data => {
                const friendsList = document.getElementById('friendsList');
                friendsList.innerHTML = ''; // Clear previous results
                // data가 배열이 아니면 오류 메시지이므로 바로 종료한다.
                if (!Array.isArray(data)) {
                    friendsList.innerHTML = data.message;
                    return;
                }
                data.forEach(friend => {
                    const li = document.createElement('li');
                    li.setAttribute('data-id', friend.id); // tr의 data-id 속성에 friend.id 값을 설정
                    li.className = 'd-flex justify-content-between align-items-center p-3';
                    li.innerHTML = `
                        <div class="width-180"><img src="${friend.image}" class="profile-image" ></div>
                        <div class="width-360 vertical-middle">${friend.name}</div>
                        <div><a class="btn btn-primary" role="button" onclick="unfollow(${friend.id})">언팔로우</a></div>
                    `;
                    friendsList.appendChild(li);
                });
            })
            .catch(error => {
                console.error("Error fetching data: ", error)
                alert("오류가 발생하였습니다. 콘솔 로그를 참고하세요");
            });
        }

        document.getElementById('search').onclick = searchFunction;
        document.getElementById('name').addEventListener('keydown', function(event) {
        if (event.key === 'Enter') {
            searchFunction();
        }
    });

        // Function to unfollow a friend by their ID
        const unfollow = (id) => {
            fetch('/api/friends/' + id, {
                method: 'DELETE'
            })
            .then(response => {
                    const row = document.querySelector("li[data-id='" + id + "']");
                    if (row) {
                        row.remove();
                    }
                }
            );
        };

    </script>

      <!-- 부트스트랩용 js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"></script>
    
</body>
</html>